<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
#parse("/link_share.html")
<title>playstation</title>
<link type="text/css" href="css/default.css" media="screen" rel="stylesheet"/>
<link type="text/css" href="css/honeycomb.css" media="screen" rel="stylesheet"/>
<script type="text/javascript" src="plugins/jquery-1.8.0.min.js"></script>
<script type="text/javascript" src="plugins/layer/layer.min.js"></script>
<script type="text/javascript" src="js/UploadFormPanel.js"></script>
<script type="text/javascript" src="js/util/Map.js"></script>
<script type="text/javascript" src="js/util/common.js"></script>
<script type="text/javascript" src="js/util/Glossary.js"></script>
<script type="text/javascript" src="js/util/Tools.js"></script>
<script type="text/javascript" src="js/util/jClass.js"></script>
<script type="text/javascript" src="js/core/Observable.js"></script>
<script type="text/javascript" src="js/core/Observer.js"></script>
<script type="text/javascript" src="js/core/Context.js"></script>
<script type="text/javascript" src="js/widget/Container.js"></script>
<script type="text/javascript" src="js/widget/Ground.js"></script>
<script type="text/javascript" src="js/widget/GroundPlace.js"></script>
<script type="text/javascript" src="js/widget/Notice.js"></script>
<script type="text/javascript" src="js/widget/NoticePlace.js"></script>
<script type="text/javascript" src="js/command/Command.js"></script>
<script type="text/javascript" src="js/command/GeneralCommand.js"></script>
<script type="text/javascript" src="js/command/Buffer.js"></script>
<script type="text/javascript" src="js/command/QueryCommand.js"></script>
<script type="text/javascript" src="js/command/ContextCommand.js"></script>
<script type="text/javascript" src="js/command/ShowCommand.js"></script>
<script type="text/javascript" src="js/command/ControlCommand.js"></script>
<script type="text/javascript" src="js/command/CommandFactory.js"></script>
<script type="text/javascript" src="js/command/Invoker.js"></script>
<script type="text/javascript" src="js/action/Action.js"></script>
<script type="text/javascript" src="js/action/CommandQueryAttackAction.js"></script>
<script type="text/javascript" src="js/action/CommandQueryCallAction.js"></script>
<script type="text/javascript" src="js/action/CommandQueryMoveAction.js"></script>
<script type="text/javascript" src="js/action/CommandQueryConjureAction.js"></script>
<script type="text/javascript" src="js/action/CommandQueryApplyAction.js"></script>
<script type="text/javascript" src="js/action/CommandQueryExecuteAction.js"></script>
<script type="text/javascript" src="js/action/CommandQueryPickAction.js"></script>
<script type="text/javascript" src="js/action/CommandSelectAction.js"></script>
<script type="text/javascript" src="js/action/CommandShowAction.js"></script>
<script type="text/javascript" src="js/action/CommandReloadAction.js"></script>
<script type="text/javascript" src="js/action/GroundAddAction.js"></script>
<script type="text/javascript" src="js/action/GroundRemoveAction.js"></script>
<script type="text/javascript" src="js/action/LifeCardMoveAction.js"></script>
<script type="text/javascript" src="js/action/LifeCardCallAction.js"></script>
<script type="text/javascript" src="js/action/LifeCardAttackAction.js"></script>
<script type="text/javascript" src="js/action/LifeCardAttackedAction.js"></script>
<script type="text/javascript" src="js/action/LifeCardActivateAction.js"></script>
<script type="text/javascript" src="js/action/LifeCardDeathAction.js"></script>
<script type="text/javascript" src="js/action/LifeCardPickAction.js"></script>
<script type="text/javascript" src="js/action/TreasurePickedAction.js"></script>
<script type="text/javascript" src="js/action/LifeCardImmuneDamageRatioAction.js"></script>
<script type="text/javascript" src="js/action/LifeCardHpAction.js"></script>
<script type="text/javascript" src="js/action/LifeCardAtkAction.js"></script>
<script type="text/javascript" src="js/action/LifeCardExpAction.js"></script>
<script type="text/javascript" src="js/action/PlayerResourceAction.js"></script>
<script type="text/javascript" src="js/action/PlayerRationAction.js"></script>
<script type="text/javascript" src="js/action/PlayerBoutAction.js"></script>
<script type="text/javascript" src="js/action/SkillAction.js"></script>
<script type="text/javascript" src="js/action/SkillActionFactory.js"></script>
<script type="text/javascript" src="js/action/SkillAccurateAction.js"></script>
<script type="text/javascript" src="js/action/SkillAttackBackAction.js"></script>
<script type="text/javascript" src="js/action/SkillDodgeAction.js"></script>
<script type="text/javascript" src="js/action/SkillParryAction.js"></script>
<script type="text/javascript" src="js/action/SkillThumpAction.js"></script>
<script type="text/javascript" src="js/action/SkillPunctureAction.js"></script>
<script type="text/javascript" src="js/action/SkillShieldHitAction.js"></script>
<script type="text/javascript" src="js/action/BuffAffectAction.js"></script>
<script type="text/javascript" src="js/action/BuffAffectActionFactory.js"></script>
<script type="text/javascript" src="js/action/BuffEffectAction.js"></script>
<script type="text/javascript" src="js/action/BuffEffectActionFactory.js"></script>
<script type="text/javascript" src="js/action/BuffInvalidAction.js"></script>
<script type="text/javascript" src="js/action/BuffInvalidActionFactory.js"></script>
<script type="text/javascript" src="js/action/BuffAttackLockBuffEffectAction.js"></script>
<script type="text/javascript" src="js/action/BuffDizzyBuffAffectAction.js"></script>
<script type="text/javascript" src="js/action/ContextStartAction.js"></script>
<script type="text/javascript" src="js/action/ContextControlAction.js"></script>
<script type="text/javascript" src="js/action/ContextDeployAction.js"></script>
<script type="text/javascript" src="js/action/ContextDoneAction.js"></script>
<script type="text/javascript" src="js/action/ContextFinishAction.js"></script>
<script type="text/javascript" src="js/action/ControlQueueRemoveAction.js"></script>
<script type="text/javascript" src="js/action/ControlQueueInsertAction.js"></script>
<script type="text/javascript" src="js/action/ControlQueueRefurbishAction.js"></script>
<script type="text/javascript" src="js/action/ControlQueueMoveAction.js"></script>
<script type="text/javascript" src="js/action/GroundLoadMapAction.js"></script>
<script type="text/javascript" src="js/action/ActionFactory.js"></script>
<script type="text/javascript" src="js/play_html5.js"></script>
</head>
<body>
<script type="text/javascript">
	Context.setOwn({
		id:'${cid}',
		account:'${account}',
		name:'${name}'
	});
</script>
<div class="divInfo">

</div>
<div id="command_show0" class="command_show0"></div>
<div id="command_show1" class="command_show1"></div>
<div id="command_show2" class="command_show2"></div>
<div id="command_show3" class="command_show3"></div>
<div id="command_button" class="command_button">
	<button id="button_execute">exec</button>
	<button id="button_move">move</button>
	<button id="button_attack">atta</button>
	<button id="button_conjure">conj</button>
	<button id="button_apply">appl</button>
	<button id="button_pick">pick</button>
	<button id="button_config">conf</button>	
</div>
<div class="ground">

<!-- 
<div class="usecard1">
	<div class="usecard2" id="usecard1_0"></div>
	<div class="usecard2" id="usecard1_1"></div>
	<div class="usecard2" id="usecard1_2"></div>
	<div class="usecard2" id="usecard1_3"></div>
	<div class="usecard2" id="usecard1_4"></div>
	<div class="usecard2" id="usecard1_5"></div>
	<div class="usecard2" id="usecard1_6"></div>
	<div class="usecard2" id="usecard1_7"></div>
	<div class="usecard2" id="cardgroup1"></div>
</div>
 -->

#foreach($row in [1..12])
#set ($x=36*($row - 1) + 5)
#set ($y=$row%2*21 + 5)
<div class="line" style="top:${x}px;left:$!{y}px;">
	#foreach($column in [1..21])
    <div class="boxF">
        <div class="boxS">
            <div class="boxT" id="ground${column}8008${row}"></div>
        </div>
     </div>
     #end
</div>
#end

<!-- 
<div class="usecard1">
	<div class="usecard2" id="cardgroup2"></div>
	<div class="usecard2" id="usecard2_7"></div>
	<div class="usecard2" id="usecard2_6"></div>
	<div class="usecard2" id="usecard2_5"></div>
	<div class="usecard2" id="usecard2_4"></div>
	<div class="usecard2" id="usecard2_3"></div>
	<div class="usecard2" id="usecard2_2"></div>
	<div class="usecard2" id="usecard2_1"></div>
	<div class="usecard2" id="usecard2_0"></div>
</div>
 -->

</div>

<div class="command_option">
	<div class="option1" id="option0" title="option0"></div>
	<div class="option1" id="option1" title="option1"></div>
	<div class="option1" id="option2" title="option2"></div>
	<div class="option1" id="option3" title="option3"></div>
	<div class="option1" id="option4" title="option4"></div>
	<div class="option1" id="option5" title="option5"></div>
	<div class="option1" id="option6" title="option6"></div>
	<div class="option1" id="option7" title="option7"></div>
</div>

<div class="command_window">
<div id="command_output" class="command_1">
</div>
<div class="command_2"><input id="command_input" class="command_input" type="text" value="" alt="admin"/></div>
</div>

<!-- 
<div class="linshi">
	<div class="usecard1">
		<div class="usecard2" id="usecard1_0"></div>
		<div class="usecard2" id="usecard1_1"></div>
		<div class="usecard2" id="usecard1_2"></div>
		<div class="usecard2" id="usecard1_3"></div>
		<div class="usecard2" id="usecard1_4"></div>
		<div class="usecard2" id="usecard1_5"></div>
		<div class="usecard2" id="usecard1_6"></div>
		<div class="usecard2" id="usecard1_7"></div>
		<div class="usecard2" id="cardgroup1"></div>
	</div>
</div>

<div class="linshi">
	<div class="usecard1">
		<div class="usecard2" id="cardgroup2"></div>
		<div class="usecard2" id="usecard2_7"></div>
		<div class="usecard2" id="usecard2_6"></div>
		<div class="usecard2" id="usecard2_5"></div>
		<div class="usecard2" id="usecard2_4"></div>
		<div class="usecard2" id="usecard2_3"></div>
		<div class="usecard2" id="usecard2_2"></div>
		<div class="usecard2" id="usecard2_1"></div>
		<div class="usecard2" id="usecard2_0"></div>
	</div>
</div>
 -->
 
<!-- 
<p><button id="test" onclick="location.href='user.do?cmd=login'">重新登陆</button></p>
<button id="test1">小小提示层</button>
 -->

<script type="text/javascript">
Ext.QuickTips.init();
Ext.Ajax.timeout = 5 * 60 * 1000;// 10分钟，默认为30秒  设置加载数据超时最大值
Ext.onReady(function(){
	var win;
    var button = Ext.get('button_config');

    button.on('click', function(){
    	if(!win){
    		var fp = new UploadFormPanel();
    	
            win = new Ext.Window({
				width:360,
				height:370,
				layout:'fit',
				buttonAlign:"center",
				title:'上传配置文件',
				iconCls:'cogIcon',
				border:false,
				modal:true,
				shadow:true,
				closeAction:'hide',
				items:[fp],
				buttons:[{text:"保存",
						  handler:function(){
						  	  fp.form.submit({
									waitMsg:'正在保存。。。',
						            url:'upload.do',
						            method:'POST',
						            success:function(form,action){
										if(null!=action.result&&action.result.msg)
							        		Ext.Msg.alert('提示',action.result.msg,function(){
							        			win.hide();
							        			fp.form.reset();
							        		},this);
										else{
											win.hide();
								           	fp.form.reset();
										}
						            },
						            scope:this
							});	
						  },
						  scope:this},
						  {text:"清空",
						   handler:function(){
							  fp.form.reset();
						   },
						   scope:this},
						  {text:"取消",
						   handler:function(){
							   fp.form.reset();
							   win.hide();
						   },
						   scope:this}
						 ]					  
			});
    	}
    	
    	win.show(this);
    });
});
</script>
</body>
</html>